<template>
  <div>
    <video ref="localVideo" autoplay></video>
    <video ref="remoteVideo" autoplay></video>
    <button v-on:click="createOffer">Offer</button>
    <button v-on:click="createAnswer">Answer</button>
    <textarea v-model="text"></textarea>
  </div>
</template>

<script>
import io from 'socket.io-client';
export default {
  data() {
    return {
      message: '',
      socket: null,
      user: {
        name: null
      },
      candidates: [],
      text: "acc"
    };
  },
  created() {
    this.socket = io('http://192.168.1.186:8081/webrtcServer');
    this.socket.on('connection-success', (success) => {
      console.log('success', success);
    });
  },
  // // mounted() {
  //   this.socket = io('http://localhost:8081/webrtcServer');
  //   this.socket.on('connection-success', (success) => {
  //     console.log('success', success);
  //     });
  //   this.socket.on('offerOrAnswer', (sdp) => {
  //     this.pc.setRemoteDescription(new RTCSessionDescription(sdp.payload));
  //     this.text = JSON.stringify(sdp);
  //   });

  //   this.socket.on('candidate', (candidate) => {
  //     // this.candidates = [...this.candidates, candidate];
  //     this.pc.addIceCandidate(new RTCIceCandidate(candidate.payload));
  //   });

  //   const pc_config = {
  //     iceServers: [
  //       {
  //         urls: 'stun:stun1.l.google.com:19302', // two pc, two LAN  
  //       },
  //     ],
  //   };

  //   this.pc = new RTCPeerConnection(pc_config);

  //   this.pc.onicecandidate = (e) => {
  //     if (e.candidate) {
  //       console.log(JSON.stringify(e.candidate));
  //       this.sendToPeer('candidate', e.candidate);
  //     }
  //   };

  //   this.pc.oniceconnectionstatechange = (e) => {
  //     console.log(e);
  //   };

  //   this.pc.ontrack = (e) => {
  //     this.$refs.remoteVideo.srcObject = e.streams[0];
  //   };

  //   // turn on video
  //   const success = (stream) => {
  //     window.localStream = stream;
  //     this.$refs.localVideo.srcObject = stream;
  //     this.pc.addStream(stream);
  //   };

  //   const failure = (e) => {
  //     console.log('getUserMedia Error: ', e);
  //   };

  //   const constraints = (window.constraints = {
  //     audio: false,
  //     video: true
  //   });

  //   navigator.mediaDevices
  //     .getUserMedia(constraints)
  //     .then(success)
  //     .catch(failure);
  // },
  mounted() {
    this.socket.on('offerOrAnswer', (sdp) => {
      this.pc.setRemoteDescription(new RTCSessionDescription(sdp));
      this.text = JSON.stringify(sdp);
    });

    this.socket.on('candidate', (candidate) => {
      // this.candidates = [...this.candidates, candidate];
      this.pc.addIceCandidate(new RTCIceCandidate(candidate));
    });

    const pc_config = {
      iceServers: [
        {
          urls: 'stun:stun1.l.google.com:19302', // two pc, two LAN  
        },
      ],
    };

    this.pc = new RTCPeerConnection(pc_config);

    this.pc.onicecandidate = (e) => {
      if (e.candidate) {
        console.log(JSON.stringify(e.candidate));
        this.sendToPeer('candidate', e.candidate);
      }
    };

    this.pc.oniceconnectionstatechange = (e) => {
      console.log(e);
    };

    this.pc.ontrack = (e) => {
      this.$refs.remoteVideo.srcObject = e.streams[0];
    };

    // turn on video
    const success = (stream) => {
      window.localStream = stream;
      this.$refs.localVideo.srcObject = stream;
      this.pc.addStream(stream);
    };

    const failure = (e) => {
      console.log('getUserMedia Error: ', e);
    };

    const constraints = (window.constraints = {
      audio: false,
      video: true
    });

    navigator.mediaDevices
      .getUserMedia(constraints)
      .then(success)
      .catch(failure);
  },
  methods: {
    sendToPeer(messageType, payload) {
      this.socket.emit(messageType, {
        socketID: this.socket.id,
        payload
      })
    },
    createOffer() {
      console.log('offer');
      this.pc.createOffer({ offerToReceiveVideo: 1 }).then((sdp) => {
        this.pc.setLocalDescription(sdp);
        this.sendToPeer('offerOrAnswer', sdp);
      });
    }, 
    createAnswer() {
      console.log('answer');
      this.pc.createAnswer({ offerToReceiveVideo: 1 }).then((sdp) => {
        this.pc.setLocalDescription(sdp);
        this.sendToPeer('offerOrAnswer', sdp);
      });
    },
    setRemoteDescription() {
    const desc = JSON.parse(this.text);
    this.pc.setRemoteDescription(new RTCSessionDescription(desc));
    },
    addCandidate() {
      this.candidates.forEach((candidate) => {
        console.log(JSON.stringify(candidate));
        this.pc.addIceCandidate(new RTCIceCandidate(candidate));
      });
    }
  }
}
</script>